{% extends "00-base/01-theme-basic/1-10-1.html" %}

{% block page-title %}流程关联性{% endblock %}


{% block page-header %}
    {% include "00-base/01-theme-basic/page-head.html" %}
    {% include "00-base/01-theme-basic/global-message.html" %}
{% endblock %}



{% block inline-js-ahead %}
{% endblock %}

{% block page-body %}
    <h3>
    <div class="row">
        <div class="col-xs-6">
            <span class="glyphicon glyphicon-equalizer text-danger"></span>
            关联性流程文件列表
        </div>
        <div class="col-xs-6 text-right">
            <a class="btn btn-primary" href="{% url "上传流程文件" %}">
                <span class="glyphicon glyphicon-upload"></span>
                上传流程文件
            </a>
            <a class="btn btn-default" href="{% url "项目概要页面" as project_summary_url %}{{ request.GET.next|default:project_summary_url }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                返回
            </a>
        </div>
    </div>
    </h3>
    <hr>

    <table class="table table-bordered table-striped">
        <caption>项目<u>{{ project.name }}({{ prj_id }})</u>关联的流程文件列表</caption>
        <tr>
            <th>序号</th>
            <th>版本</th>
            <th>流程名</th>
            <th>创建时间</th>
            <th>最后更新时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for flow in flow_file_list %}
            <tr>
                <th>{{ flow.id }}</th>
                <td class="text-center">{{ flow.version }}</td>
                <td class="text-center">{{ flow.name }}</td>
                <td class="text-center">{{ flow.create_datetime|date:'Y-m-d H:i:s' }}</td>
                <td class="text-center">{{ flow.update_datetime|date:'Y-m-d H:i:s' }}</td>
                <td class="text-center">
                    {% if flow not in flows %}
                        <span class="text-danger">未绑定</span>
                    {% else %}
                        <span class="text-success">已绑定</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if flow not in flows %}
                    <a href="{% url 'pwf将流程文件链接至项目' flow.id prj_id %}?next={{ request.path }}" title="绑定至项目{{ project.name }}">
                        <span class="glyphicon glyphicon-link text-success"></span>
                        绑定
                    </a>
                    {% else %}
                    <a href="{% url 'pwf解除流程文件至项目的链接' flow.id prj_id %}?next={{ request.path }}" title="解除绑定 {{ project.name }}">
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                        解绑
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="6">没有记录!</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


