
{% extends "00-base/01-theme-basic/1-10-1.html" %}

{% block page-title %}暂停项目-成功{% endblock %}


{% block page-header %}
    {% include "00-base/01-theme-basic/page-head.html" %}
    {% include "00-base/01-theme-basic/global-message.html" %}
{% endblock %}



{% block inline-js-ahead %}
	<script>
        function stop_succeed(){
            var tab="<div class=\"text-danger col-xs-12\">";
            tab+="<h3><strong>提示</strong>：暂 停 <strong>{{ ID.项目名 }} 成 功</strong> ，将 在 3 秒 后 返 回 按 钮 项 目 总 览 页 面 ！</h3>";
            tab+="</div>";
            tishi.innerHTML=tab;
            setTimeout("skip_page()","3000");
		}
	    //跳转，项目概要页面
        function skip_page() {
           window.location.href = "{% url '项目概要页面' %}";
        }
	</script>
{% endblock %}

{% block page-body %}
    <h3>
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-saved text-success"></span>
                &nbsp;项 目 暂 停 成 功 提 示 界 面
            </div>
            <div class="col-xs-8 text-right">
                <a class="btn btn-lg btn-default" href="{% url "项目概要页面" as project_summary_url %}{{ request.GET.next|default:project_summary_url }}">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    返回
                </a>
            </div>
        </div>
    </h3>
    <hr>

    <h3>{{ project }}</h3>

        <div class="row"><p>&nbsp;</p></div>

        <div class="row"><p>&nbsp;</p></div>

        <div class="row" id ="tishi">
            <div class="text-danger col-xs-12">
                <h3><strong>提示</strong>：暂 停 <strong>{{ ID.项目名 }} 成 功</strong> ，点 击 返 回 按 钮 返 回 项 目 总 览 页 面 ！</h3>
            </div>
        </div>

        <div class="row"><p></p></div>

		<div class="row" id="div1"></div>

{% endblock %}









