{% extends "00-base/01-theme-basic/1-10-1.html" %}

{% block page-title %}项目概要-中止{% endblock %}


{% block page-header %}
    {% include "00-base/01-theme-basic/page-head.html" %}
    {% include "00-base/01-theme-basic/global-message.html" %}
{% endblock %}



{% block inline-js-ahead %}
	<script>
    	//
	</script>
{% endblock %}


{% block page-body %}
    {% include "10-项目页面/00-项目状态筛选tabs.html" %}
    <br>
    <div class="row" id="tishi">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>项目ID</th>
                    <th width="100px">项目编号</th>
                    <th width="550px">项目名称</th>
                    <th>项目创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                    <tr style="vertical-align: middle;text-align: center;">
                        <td class="text-primary"><a href="{% url '项目详细信息展示页面' project.id %}?next={{ request.path }}">{{project.id}}</a></td>
                        <td>{{project.sn}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.create_datetime|date:'Y-m-d H:i:s'}}</td>
                        <td>
                            <a href="{% url '项目详细信息展示页面' project.id %}?next={{ request.path }}" class="text-success">
                                <span class="glyphicon glyphicon-tasks"></span>
                                详情
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">还没有中止的项目!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row"><p></p></div>

    <div class="row" id="div1"></div>

    <div class="row"><p></p></div>

    <div class="row text-danger" id="div1"></div>
{% endblock %}











