
{% extends "00-base/01-theme-basic/1-10-1.html" %}

{% block page-title %}水冷机设备遥调-成功{% endblock %}


{% block page-header %}
    {% include "00-base/01-theme-basic/page-head.html" %}
    {% include "00-base/01-theme-basic/global-message.html" %}
{% endblock %}



{% block inline-js-ahead %}
	<script>
        //let skip = {{ skip | safe }};
		//显示对应设备对应点的遥控成功提示
		function stop_succeed(){
            var tab="<div class=\"text-danger col-xs-12\">";
            tab+="<h3><strong>提示</strong>：水 冷 机 设 备 下 发 遥 调 <strong> 成 功</strong> ，将 在 3 秒 后 返 回 水 冷 机 遥 调 页 面 ！</h3>";
            tab+="</div>";
            tishi.innerHTML=tab;
            setTimeout("skip_page()","3000");

		}
		//跳转，水冷机遥调
		function skip_page(){
           window.location.href = "{% url 'cm yt page' %}";
        }
	</script>
{% endblock %}

{% block page-body %}
    <h3>
        <div class="row">
            <div class="col-xs-8">
                <span class="glyphicon glyphicon-saved text-success"></span>
					&nbsp;水 冷 机 设 备 遥 调 成 功 提 示 页 面
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-lg btn-default" href="{% url "cm yt page" as project_summary_url %}{{ request.GET.next|default:project_summary_url }}">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    返回
                </a>
            </div>
        </div>
    </h3>
    <hr>

    <h3>{{ project }}</h3>

        <div class="row" id ="tishi">
            <div class="text-danger col-xs-12">
                <h3><strong>提 示</strong>：</h3>
                <div class="row"><p></p></div>
                <h4>水冷机设备下发遥调设置<strong>成功</strong>！</h4>
                <div class="row"><p></p></div>
                <h4>可点击<strong>返回按钮</strong>,返回水冷机设备遥调页面,继续操作！</h4>
            </div>
        </div>

        <div class="row"><p></p></div>

		<div class="row" id="div1"></div>

{% endblock %}


