
{% extends "00-base/01-theme-basic/1-10-1.html" %}

{% block page-title %}水冷机设备遥控-成功{% endblock %}


{% block page-header %}
    {% include "00-base/01-theme-basic/page-head.html" %}
    {% include "00-base/01-theme-basic/global-message.html" %}
{% endblock %}



{% block inline-js-ahead %}
	<script>
		//
	</script>
{% endblock %}

{% block page-body %}
    <h3>
        <div class="row">
            <div class="col-xs-8">
                <span class="glyphicon glyphicon-saved text-success"></span>
					&nbsp;水 冷 机 设 备 遥 控 成 功 提 示 页 面
            </div>
            <div class="col-xs-4 text-right">
                <a class="btn btn-lg btn-default" href="{% url "cm yk page" as project_summary_url %}{{ request.GET.next|default:project_summary_url }}">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    返回
                </a>
            </div>
        </div>
    </h3>
    <hr>

    <h3>{{ project }}</h3>

        <div class="row" id ="tishi">
            <div class="text-danger col-xs-12">
                <h3><strong>提 示</strong>：</h3>
                <div class="row"><p></p></div>
                <h4>水冷机设备遥控<strong>{{ skip.数据点 }}</strong>数据点<strong>成功</strong>！</h4>
                <div class="row"><p></p></div>
                <h4>可点击<strong>返回按钮</strong>, 返回水冷机设备遥控页面,继续操作！</h4>
            </div>
        </div>

        <div class="row"><p></p></div>

        <div class="row" id="div1"></div>

{% endblock %}


